<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <h1><%= title %></h1>
        <ul>
            <% errors.forEach((item) => { %>
                <li><%= item.msg %></li>
            <% }) %>
        </ul>
        <form action="/create/itemtopool" method="POST">
            <label for="item">Add item </label>
            <select name="item" id="item">
                <%- include('../partials/options', {table: items}) %>
            </select>
            <label for="pool"> to pool </label>
            <select name="pool" id="pool">
                <%- include('../partials/options', {table: pools}) %>
            </select>
            <button type="submit">Submit</button>
        </form>
        <a href="/create">Back to create page</a>
</body>
</html>
