<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
        <h1><%= title %></h1>
        <form action="/", method="GET">
            <label for="pool">Search Pool</label>
            <select name="pool" id="pool">
                <option value="">CHAOS (all)</option>
                <%- include('./partials/options', {table: pools}) %>
            </select>
            <button type="submit">Submit</button>
        </form>
        <ul class="crud">
            <li><a href="/create">Create</a></li>
            <li><a href="/delete">Delete</a></li>
            <li><a href="/update">Update</a></li>
        </ul>
        <div class="doubleList">
            <div class="list">
                <p>Pools</p>
                <ul>
                    <% pools.forEach((item) => { %>
                        <li><%= item.name %></li>
                    <% }) %>
                </ul>
            </div>
            <div class="list">
                <p>Items</p>
                <ul>
                    <% items.forEach((item) => { %>
                    <li><%= item.name %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
</body>
</html>
